@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-accent: var(--accent);
    --color-secondary: var(--secondary);
}

:root {
    --primary: #FFF;
    --primary-light: #2D2E33;
    --secondary: #1e1f20;
    --accent: #2ec7d6;
}

.dark {
    --primary: #1e1f20;
    --primary-light: #2D2E33;
    --secondary: #FFF;
    --accent: #2ec7d6;
}
